<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="/org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n-->
            <pattern>[%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework" level="OFF"/>
    <logger name="com.gargoylesoftware" level="OFF"/>
    <logger name="org.apache" level="OFF"/>

    <!-- 좀 더 보기 좋은 MyBatis 쿼리 Log : log4jdbc -->
    <logger name="jdbc.sqlonly" level="debug" />
    <logger name="jdbc.sqltiming" level="off" />
    <logger name="jdbc.audit" level="off" />
    <logger name="jdbc.resultset" level="off" />
    <logger name="jdbc.resultsettable" level="debug" />
    <logger name="jdbc.connection" level="off" />
</configuration>